.sort-panel {
	width: 1240px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 13px;
	justify-content: space-between;
	margin-bottom: 50px;
}

@media (max-width: 376px) {
	.sort-panel {
		column-gap: 8px;
		width: 325px;
		height: 83px;
		margin-bottom: 40px;
	}
}
