.footer {
	background: #313341;
	height: 400px;
	padding: 64px 320px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.footer-main {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	width: min-content;
}

.logo {
	width: 190px;
	height: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	column-gap: 50px;
	row-gap: 20px;
	width: 430px;
	flex-wrap: wrap;
	height: 120px;
}

.link {
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	text-decoration: none;

	&:hover {
		color: #cdcdcd;
	}
}

@media (max-width: 376px) {
	.logo {
		width: 102px;
		height: auto;
	}

	.footer {
		height: 280px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 38px;
	}

	.footer-main {
		width: 200px;
		row-gap: 11px;
		text-align: center;

		& p {
			width: 100%;
		}
	}

	.link {
		font-size: 13px;
		font-family: var(--second-family), sans-serif;
	}

	.nav {
		width: 100%;
		column-gap: 0;
	}
}
